@import './color.scss';

*{
  margin: 0 auto;
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.container{
  border: 1px solid $border_container;
  border-radius: 2px;
  padding: 20px;
  display: flex; /*Colocará las cajas en horizontal*/
  flex-flow: row wrap; /*flex-direction + flex-wrap*/
  justify-content: center; /*Coloca los elementos centrados*/
  width: 95%;
  margin: 0 auto;
}

.light-mode {
  background-color: $bgcolor_light;
  color: $font_dark;
}

.dark-mode {
  background-color: $bgcolor_dark;
  color: $font_light;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bgcolor_light;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $bgcolor_light;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container_detail{
  padding: 10px;
  display: flex; /*Colocará las cajas en horizontal*/
  flex-flow: row wrap; /*flex-direction + flex-wrap*/
  justify-content: center; /*Coloca los elementos centrados*/
  width: 95%;
  margin: 0 auto;
}

.box{
  border: 1px solid rgb(174, 185, 178);
  background-color: $bgcolor_light;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: $font_dark;
  width: 180px;
  height: 240px;
  text-align: center;
  margin: 5px;

  &:hover{
    background-color: $bgcolor_light;
    color: $font_dark;
    border: 1px solid rgb(14, 13, 13);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 5px;
  }

  img{
    width: 180px;
    height: 180px;
    border-radius: 5px 5px 0px 0px;
  }
}

.dark-mode-box{
  box-shadow: rgba(256, 256, 256, 0.3) 0px 19px 38px, rgba(256, 256, 256, 0.22) 0px 15px 12px;
}

.box_detail{
  color: $font_dark;
  width: 600px;
  margin: 5px;

  img{
    border: 1px solid grey;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0 auto;
  }

}

.box_detail_data, .box_detail_episodes{
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 10px;
  padding: 10px;
}