<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragonball API PHP</title>
</head>
<body>

    <h1> Haciendo pruebas con servicio web </h1>

    <h3>{{ data.name }}</h3>

    {% for character in data %}
        <h4>{{ character.name }}</h4>
    {% endfor %}




</body>
</html>