<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Rick y Morty API PHP</title>
</head>
<body>

    <h1> Personajes Rick y Morty</h1>
    <div class="container">
        {% for character in data %}
            <div class="box">
               <img src="{{ character.image }}" alt="">
                <p>{{ character.name }}</p>
            </div>

        {% endfor %}
    </div>





</body>
</html>